// HACER UN MIXIN QUE ME HAGA FLEX CENTER Y DECLARAR 3 VARIABLES DE COLORES

.containerHome{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
    justify-items: center; 
    align-items: center;
}

.containerCard{

    border-color: red;
    .imgProduct{
        width: 50%;
        margin: 0;
    }
}
